<div class="w-324 min-w-324 ml-10 mr-20">
  <div class="px-20 py-10 bg-primary rounded-10 text-white text-center mb-18">
    <!---->
    <div class="text-14">Available funds</div>
    <div class="text-lg font-bold">----</div>
  </div>
  <div class="box-shadow rounded-10 p-20 box-border bg-white">
    <div class="text-14">BTCUSD</div>
    <div class="text-xs text-kline-up">95409.64</div>
    <div class="el-select w-full mt-4">
      <div
        class="el-select__wrapper el-tooltip__trigger el-tooltip__trigger"
        tabindex="-1"
      >
        <!--v-if-->
        <div class="el-select__selection">
          <!--v-if-->
          <div
            class="el-select__selected-item el-select__input-wrapper is-hidden"
          >
            <input
              type="text"
              class="el-select__input"
              autocomplete="off"
              tabindex="0"
              role="combobox"
              readonly=""
              spellcheck="false"
              aria-activedescendant=""
              aria-controls="el-id-1536-23"
              aria-expanded="false"
              aria-autocomplete="none"
              aria-haspopup="listbox"
              style="min-width: 11px"
              id="el-id-1536-48"
            /><!--v-if-->
          </div>
          <div class="el-select__selected-item el-select__placeholder">
            <span>Market Price</span>
          </div>
        </div>
        <div class="el-select__suffix">
          <i class="el-icon el-select__caret el-select__icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z"
              ></path></svg></i
          ><!--v-if--><!--v-if-->
        </div>
      </div>
    </div>
    <!---->
    <div class="text-14 mt-10">Multiplier</div>
    <div class="el-select w-full mt-4">
      <div
        class="el-select__wrapper el-tooltip__trigger el-tooltip__trigger"
        tabindex="-1"
      >
        <!--v-if-->
        <div class="el-select__selection">
          <!--v-if-->
          <div
            class="el-select__selected-item el-select__input-wrapper is-hidden"
          >
            <input
              type="text"
              class="el-select__input"
              autocomplete="off"
              tabindex="0"
              role="combobox"
              readonly=""
              spellcheck="false"
              aria-activedescendant=""
              aria-controls="el-id-1536-27"
              aria-expanded="false"
              aria-autocomplete="none"
              aria-haspopup="listbox"
              style="min-width: 11px"
              id="el-id-1536-49"
            /><!--v-if-->
          </div>
          <div class="el-select__selected-item el-select__placeholder">
            <span>100</span>
          </div>
        </div>
        <div class="el-select__suffix">
          <i class="el-icon el-select__caret el-select__icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z"
              ></path></svg></i
          ><!--v-if--><!--v-if-->
        </div>
      </div>
    </div>
    <div>
      <div class="text-14 mt-10 flex items-center justify-between">
        <div>Set Loss</div>
        <div class="el-switch el-switch--small">
          <input
            class="el-switch__input"
            type="checkbox"
            role="switch"
            aria-checked="false"
            aria-disabled="false"
            name=""
            true-value="true"
            false-value="false"
            id="el-id-1536-50"
          /><!--v-if--><span class="el-switch__core"
            ><!--v-if-->
            <div class="el-switch__action"><!--v-if--></div></span
          ><!--v-if-->
        </div>
      </div>
      <div class="el-input-number is-disabled w-full mt-4">
        <span
          role="button"
          aria-label="decrease number"
          class="el-input-number__decrease"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M128 544h768a32 32 0 1 0 0-64H128a32 32 0 0 0 0 64"
              ></path></svg></i></span
        ><span
          role="button"
          aria-label="increase number"
          class="el-input-number__increase"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z"
              ></path></svg></i
        ></span>
        <div class="el-input is-disabled">
          <!-- input --><!-- prepend slot --><!--v-if-->
          <div class="el-input__wrapper" tabindex="-1">
            <!-- prefix slot --><!--v-if--><input
              class="el-input__inner"
              step="1"
              max="Infinity"
              min="-Infinity"
              type="number"
              disabled=""
              autocomplete="off"
              tabindex="0"
              role="spinbutton"
              aria-valuenow="0"
              aria-disabled="true"
              id="el-id-1536-51"
            /><!-- suffix slot --><!--v-if-->
          </div>
          <!-- append slot --><!--v-if-->
        </div>
      </div>
    </div>
    <div>
      <div class="text-14 mt-10 flex items-center justify-between">
        <div>Take Profit</div>
        <div class="el-switch el-switch--small">
          <input
            class="el-switch__input"
            type="checkbox"
            role="switch"
            aria-checked="false"
            aria-disabled="false"
            name=""
            true-value="true"
            false-value="false"
            id="el-id-1536-52"
          /><!--v-if--><span class="el-switch__core"
            ><!--v-if-->
            <div class="el-switch__action"><!--v-if--></div></span
          ><!--v-if-->
        </div>
      </div>
      <div class="el-input-number is-disabled w-full mt-4">
        <span
          role="button"
          aria-label="decrease number"
          class="el-input-number__decrease"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M128 544h768a32 32 0 1 0 0-64H128a32 32 0 0 0 0 64"
              ></path></svg></i></span
        ><span
          role="button"
          aria-label="increase number"
          class="el-input-number__increase"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z"
              ></path></svg></i
        ></span>
        <div class="el-input is-disabled">
          <!-- input --><!-- prepend slot --><!--v-if-->
          <div class="el-input__wrapper" tabindex="-1">
            <!-- prefix slot --><!--v-if--><input
              class="el-input__inner"
              step="1"
              max="Infinity"
              min="-Infinity"
              type="number"
              disabled=""
              autocomplete="off"
              tabindex="0"
              role="spinbutton"
              aria-valuenow="0"
              aria-disabled="true"
              id="el-id-1536-53"
            /><!-- suffix slot --><!--v-if-->
          </div>
          <!-- append slot --><!--v-if-->
        </div>
      </div>
    </div>
    <div>
      <div class="text-14 mt-10">Lots(Step:0.01)</div>
      <div class="el-input-number w-full mt-4">
        <span
          role="button"
          aria-label="decrease number"
          class="el-input-number__decrease"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M128 544h768a32 32 0 1 0 0-64H128a32 32 0 0 0 0 64"
              ></path></svg></i></span
        ><span
          role="button"
          aria-label="increase number"
          class="el-input-number__increase"
          ><i class="el-icon"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path
                fill="currentColor"
                d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z"
              ></path></svg></i
        ></span>
        <div class="el-input">
          <!-- input --><!-- prepend slot --><!--v-if-->
          <div class="el-input__wrapper" tabindex="-1">
            <!-- prefix slot --><!--v-if--><input
              class="el-input__inner"
              step="0.01"
              max="Infinity"
              min="0.01"
              type="number"
              autocomplete="off"
              tabindex="0"
              role="spinbutton"
              aria-valuemin="0.01"
              aria-valuenow="0.1"
              aria-disabled="false"
              id="el-id-1536-54"
            /><!-- suffix slot --><!--v-if-->
          </div>
          <!-- append slot --><!--v-if-->
        </div>
      </div>
    </div>
    <div class="text-12 py-16">
      <div class="flex items-center justify-between mt-8">
        <div>Each Lots</div>
        <div>1 Lots = 1 BTCUSD</div>
      </div>
      <div class="flex items-center justify-between mt-8">
        <div>Estimated Handling Fee</div>
        <div>0.095410</div>
      </div>
      <div class="flex items-center justify-between mt-8">
        <div>Estimated Margin</div>
        <div>95.409640</div>
      </div>
    </div>
    <div class="flex">
      <button
        aria-disabled="false"
        type="button"
        class="el-button el-button--primary is-round bg-kline-up flex-1 border-0 h-36 bg-kline-up"
      >
        <!--v-if--><span class="">Buy</span></button
      ><button
        aria-disabled="false"
        type="button"
        class="el-button el-button--primary is-round flex-1 border-0 h-36 bg-kline-down"
      >
        <!--v-if--><span class="">Sell</span>
      </button>
    </div>
  </div>
</div>
