<div class="wallet-list px-20">
  <div class="py-10">
    <div class="font-bold text-main-black">Balance</div>
    <div class="font-extrabold text-primary text-16">0</div>
  </div>
  <div>
    <div class="font-bold text-main-black">Bank Card</div>
    <div class="flex flex-wrap overflow-auto mt-10">
      <div class="add flex items-center justify-center h-140">
        <i class="el-icon cursor-pointer" style="font-size: 40px"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
            <path
              fill="currentColor"
              d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z"
            ></path></svg
        ></i>
      </div>
    </div>
    <div class="font-bold text-main-black mt-20">Digital Currency</div>
    <div class="flex flex-wrap overflow-auto my-10">
      <div class="add flex items-center justify-center h-100">
        <i class="el-icon cursor-pointer" style="font-size: 40px"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
            <path
              fill="currentColor"
              d="M480 480V128a32 32 0 0 1 64 0v352h352a32 32 0 1 1 0 64H544v352a32 32 0 1 1-64 0V544H128a32 32 0 0 1 0-64z"
            ></path></svg
        ></i>
      </div>
    </div>
  </div>
</div>
